{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Toko Pasar</title>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-gray-100 flex flex-col">
  <div class="p-2 mb-6 relative">
    <div class="relative grid grid-cols-1 z-30 md:grid-cols-3 gap-8">
      {% include "card_info.html" with title='NPM' value=npm %}
      {% include "card_info.html" with title='Name' value=name %}
      {% include "card_info.html" with title='Class' value=class %}
    </div>
</div>
    <div class="flex flex-wrap justify-between items-center mb-6 space-y-4 md:space-y-0 md:space-x-4">
      <!-- Last Login Section -->
      <div class="rounded-md py-2 px-4 w-full md:w-fit" style="background-color: #96ceb4; padding: 10px;">
        <h1 class="text-white text-center">Last Login: {{last_login}}</h1>
      </div>

      <!-- Buttons: Add New Product Entry and Add New Product by AJAX -->
      <div class="flex flex-col md:flex-row md:space-x-4 w-full md:w-auto">
        <!-- Add New Product Entry Button -->
        <a href="{% url 'main:create_product_entry' %}" class="font-bold py-2 px-4 text-center rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105 mb-4 md:mb-0" style="background-color: #ffcc5c; color: white;">
          Add New Product Entry
        </a>

        <!-- Add New Product by AJAX Button -->
        <button data-modal-target="crudModal" data-modal-toggle="crudModal" class="btn font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105" style="background-color: #88d8b0; color: white;" onclick="showModal();">
          Add New Product Entry by AJAX
        </button>
      </div>
    </div>

    <div id="product_entry_cards"></div>
    <div id="crudModal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 w-full flex items-center justify-center bg-gray-800 bg-opacity-50 overflow-x-hidden overflow-y-auto transition-opacity duration-300 ease-out">
      <div id="crudModalContent" class="relative bg-white rounded-lg shadow-lg w-5/6 sm:w-3/4 md:w-1/2 lg:w-1/3 mx-4 sm:mx-0 transform scale-95 opacity-0 transition-transform transition-opacity duration-300 ease-out">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 border-b rounded-t">
          <h3 class="text-xl font-semibold text-gray-900">
            Add New Product Entry
          </h3>
          <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" id="closeModalBtn">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="px-6 py-4 space-y-6 form-style">
          <form id="productEntryForm">
            <div class="mb-4">
              <label for="product_name" class="block text-sm font-medium text-gray-700">Product</label>
              <input type="text" id="product_name" name="product_name" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter your Product" required>
            </div>
            <div class="mb-4">
              <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
              <textarea id="description" name="description" rows="3" class="mt-1 block w-full h-52 resize-none border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Describe your product" required></textarea>
            </div>
            <div class="mb-4">
              <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
              <input type="number" id="price" name="price" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter your Price" required>
            </div>
            <div class="mb-4">
              <label for="rating" class="block text-sm font-medium text-gray-700">Rating (1-5)</label>
              <input type="number" id="rating" name="rating" min="1" max="5" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" required>
            </div>
          </form>
        </div>
        <!-- Modal footer -->
        <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-2 p-6 border-t border-gray-200 rounded-b justify-center md:justify-end">
          <button type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-lg" id="cancelButton">Cancel</button>
          <button type="submit" id="submitProductEntry" form="productEntryForm" class="bg-green-600 hover:bg-green-700 text-white font-semibold px-6 py-3 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105 w-full">Save</button>
        </div>
      </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script>
async function getProductEntries(){
      return fetch("{% url 'main:show_json' %}").then((res) => res.json())
  }
async function refreshProductEntries() {
  document.getElementById("product_entry_cards").innerHTML = "";
  document.getElementById("product_entry_cards").className = "";
  const productEntries = await getProductEntries();
  let htmlString = "";
  let classNameString = "";

  if (productEntries.length === 0) {
      classNameString = "flex flex-col items-center justify-center min-h-[24rem] p-6";
      htmlString = `
          <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
              <img src="{% static 'image/smiski-kosong.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
              <p class="text-center text-gray-600 mt-4">Belum ada data produk pada Toko Pasar.</p>
          </div>
      `;
  }
  else {
      classNameString = "columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full"
      productEntries.forEach((item) => {
          const product_name = DOMPurify.sanitize(item.fields.product_name);
          const description = DOMPurify.sanitize(item.fields.description);
          const price = DOMPurify.sanitize(item.fields.price);
          const rating = DOMPurify.sanitize(item.fields.rating);
          htmlString += `
          <div class="relative break-inside-avoid">
          <!-- Product Card -->
          <div class="relative top-5 bg-gray-100 shadow-lg rounded-lg mb-6 flex flex-col border-2 border-gray-300 transform hover:-translate-y-2 transition-transform duration-300 p-4 items-center justify-center text-center">
            
              <!-- Product Name -->
              <h3 class="text-gray-800 text-2xl font-bold mb-2">${product_name}</h3>
              
              <!-- Product Description -->
              <p class="text-gray-600 text-base mb-4">${description}</p>
              
              <!-- Product Price -->
              <p class="text-gray-900 text-xl font-semibold mb-4">Rp ${price}</p>

              <!-- Star Rating -->
              <div class="flex justify-center mb-4">`;
          // Star rating
          for (let i = 1; i <= 5; i++) {
              if (i <= rating) {
                  htmlString += `
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" fill="currentColor" viewBox="0 0 24 24" stroke="none">
                          <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                      </svg>`;
              } else {
                  htmlString += `
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-300" fill="currentColor" viewBox="0 0 24 24" stroke="none">
                          <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                      </svg>`;
              }
          }
          htmlString += `
              </div>
              <!-- Action Buttons (Edit and Delete) -->
              <div class="flex justify-center space-x-4 mt-4">
                <a href="/edit-product/${item.pk}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300">
                  <i class="fas fa-edit"></i> Edit
                </a>

                <!-- Delete Button with Icon -->
                <a href="/delete/${item.pk}" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300">
                  <i class="fas fa-trash"></i> Delete
                </a>
              </div>
          </div>
          </div>
          `;
      });
  }

  document.getElementById("product_entry_cards").innerHTML = htmlString;
  document.getElementById("product_entry_cards").className = classNameString;
}

// Call the function to refresh the entries on page load
refreshProductEntries();

    const modal = document.getElementById('crudModal');
    const modalContent = document.getElementById('crudModalContent');
  
    function showModal() {
        const modal = document.getElementById('crudModal');
        const modalContent = document.getElementById('crudModalContent');
  
        modal.classList.remove('hidden'); 
        setTimeout(() => {
          modalContent.classList.remove('opacity-0', 'scale-95');
          modalContent.classList.add('opacity-100', 'scale-100');
        }, 50); 
    }
  
    function hideModal() {
        const modal = document.getElementById('crudModal');
        const modalContent = document.getElementById('crudModalContent');
  
        modalContent.classList.remove('opacity-100', 'scale-100');
        modalContent.classList.add('opacity-0', 'scale-95');
  
        setTimeout(() => {
          modal.classList.add('hidden');
        }, 150); 
    }
  
    document.getElementById("cancelButton").addEventListener("click", hideModal);
    document.getElementById("closeModalBtn").addEventListener("click", hideModal);

    function addProductEntry() {
    fetch("{% url 'main:add_product_entry_ajax' %}", {
      method: "POST",
      body: new FormData(document.querySelector('#productEntryForm')),
    })
    .then(response => refreshProductEntries())

    document.getElementById("productEntryForm").reset(); 
    document.querySelector("[data-modal-toggle='crudModal']").click();

    return false;
  }
  document.getElementById("submitProductEntry").onclick = addProductEntry
</script>
{% endblock content %}